# Node.js
node_modules/
dist/

# TypeScript
*.tsbuildinfo
*.js

# Editor/IDE specific
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment variables (sensitive data)
.env
.env.*

# Dependency lock files
# package-lock.json
# yarn.lock






